::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-track {
  border-radius: 25%;
  background: gray;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: darkgray;
}

/* vuetify */
.v-carousel__controls {
  display: none;
}

.v-btn--active {
  background-color: rgba(149, 139, 139, 0.4);
}
